#adminPage {
    display: flex;
}

#userTableContainer {
    flex-grow: 1; /* Зробити таблицю на всю ширину */
}

#adminControls.hidden {
    display: none;
}

#userTableContainer.full-width {
    width: 100%;
}

.form-control {
    margin-bottom: 10px;
}
.table {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
}
.table th, .table td {
    text-align: center;
}

.body-admin {
   background-color: #2e8b57; /* Смарагдовий колір */
   color: #fff;
}

.body-login {
            background-color: #2f4f4f;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-title {
    color: #2f4f4f;
    text-align: center;
    margin-bottom: 20px;
}