<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h2>First security User</h2>
<div>
    <table>
        <thead>
            <th>User</th>
            <th>SecurityRole</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.login}"></td>
                <td th:text="${user.securityRole}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.address}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
