<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ua" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body class="body-login">

<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>

        <div th:if="${param.error}" class="alert alert-danger mt-3">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success mt-3">
            You have been logged out successfully.
        </div>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
